.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body > #root > div {
  height: 100vh;
}

/* CSS TestLayout */

.nav-text-logo {
  font-size: 17px;
  color: white;
  padding: 10px 15px;
  text-align: left;
  margin-bottom: 0px;
}

.in-body {
  height: 100vh;
}

nav {
  background-color: #282c34;
}

main {
  background-color: grey;
  height: calc(100vh - 40px);
}
